<%- include('includes/head', { pageTitle: 'An Error Occured' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
<%- include('includes/header') %>
<main>
    <h1 class="error-header">Sorry, could not find that page!</h1>
    <p>Unfortunately, we could not find the requested resource!</p>
    <p><a class="btn" href="/">Back to safety!</a></p>
</main>
<%- include('includes/footer') %>
